<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite">   <!-- Defines the entire test suite. -->
  <test thread-count="5" name="TestProjectNew">
    <classes>                  <!-- Lists test classes to be executed. -->

      <class name="TestNG.TestNGMultipleTests">
        <methods>
          <include name="print.*"/>  <!-- Excludes the method "printHeight" from this class. -->
        </methods>
      </class>
    </classes>
  </test>  <!-- Represents a group of test cases (like a module). -->
</suite>
